
<h1 align="center">Proyecto Base de Datos</h1>
<p align="Center">Juan Claudio Ollivier Pfister</p>
<p align="Center">Bruno Polignac de la Piedra</p>
<body>
		<table align="Center" border="1" cellpadding="1" cellspacing="1" style="width: 500px;">
			<tbody>
				<tr>
					<td align="Center">
						<a href="http://localHost:3000/actividades">
   <button >Actividades</button>
</a></td>
					<td align="Center">
						<a  href="http://localHost:3000/viajes">
   <button>Viajes</button>
</a></td>
					<td align="Center">
						<a href="http://localHost:3000/clientes">
   <button>Clientes</button>
</a></td>
					
					
				</tr>
				<tr>
					<td align="Center">
						<a href="http://localHost:3000/grupos">
   <button>Grupos</button></td>
					<td align="Center">
						<a href="http://localHost:3000/hoteles">
   <button>Hoteles</button></td>
					<td align="Center">
						<a href="http://localHost:3000/ingresos">
   <button>Ingresos</button></td>
					
					
				</tr>
				<tr>
					<td align="Center">
						<a href="http://localHost:3000/transportes">
   <button>Transportes</button></td>
					<td align="Center">
						<a href="http://localHost:3000/empleados">
   <button>Empleados</button>
</a></td>
					<td align="Center">
						<a href="http://localHost:3000/organizadors">
   <button>Organizadores</button></td>
					
					
				</tr>
			</tbody>
		</table></body>
